/*********************** 总容器 ***********************/
.wrapper{
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
}

/*********************** header ***********************/
header{
    width: 100%;
    height: 15.7vw;
    background-color: #FFF;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 3.6vw;
}
header .fa{
    font-size: 8vw;
}


/*********************** common样式 ***********************/
.top-ban{
    width: 100%;
    height: 15.7vw;
}
.bottom-ban{
    width: 100%;
    height: 14.2vw;
}

/*********************** hospital ***********************/
.hospital{
    width: 100%;
    margin-top: 3.6vw;
}
.hospital li{
    width: 92.8vw;
    margin: 0 auto;
    border: solid 1px #EEE;
    border-radius: 1vw;
    box-shadow: 2px 2px 5px rgba(0,0,0,.08);
    background-color: #FFF;
    margin-bottom: 3.6vw;

    box-sizing: border-box;
    padding: 4vw;
}
.hospital li h3{
    box-sizing: border-box;
    padding-left: 2.4vw;
    border-left: solid 3px #157999;
    font-size: 4.3vw;
    display: flex;
    justify-content: space-between;

    user-select: none;
    cursor: pointer;
}
.hospital li h3 i{
    font-size: 5vw;
}

.hospital li .hospital-info{
    width: 100%;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
}
.hospital li .hospital-info img{
    width: 24vw;
    height: 22vw;
    border:0.1vw solid #157999;
}
.hospital li .hospital-info table{
    width: 59vw;
    font-size: 3.4vw;
    color: #666;
    table-layout: fixed;
    margin-left:2vw;
}
.hospital li .hospital-info table tr{
    height: 6vw;
}
.hospital li .hospital-info table tr td{
    vertical-align: top;
}
.hospital li .hospital-info table tr td:first-child{
    width: 15vw;
  
}
.hospital li .hospital-info table tr td:last-child{
    width: 44vw;
    white-space: normal;
    word-break: break-all;
}
.hospital li .about{
    display: flex;
    justify-content: flex-end;
    margin-top: 2vw;
}
.hospital li .about p{
    width: 30vw;
    height: 8vw;
    border: solid 1px #157999;
    border-radius: 2vw;

    text-align: center;
    line-height: 8vw;
    margin-left: 2vw;

    font-size: 4vw;
    color: #157999;

    user-select: none;
    cursor: pointer;
}
.hospital li .about p i{
    color: #555;
    margin-right: 1vw;
}